# Node.js dependencies
node_modules/
package-lock.json

# Coverage reports
coverage/

# Jasmine and Jest specific
junit/
*.log

# Environment files
.env
.env.local

# IDE configurations
.vscode/
.idea/
*.iml

# MacOS files
.DS_Store

# Linux files
*~
